@import '../../../timecrowd-iconfont/tc-fonts.css';

.device-switch {
  background: #f0f0f0;
  display: flex;
  padding: 24px;
  position: relative;
}

.device-switch .tab-content {
  margin: 0 auto;
  width: 100%;
}

.device-container {
  background: #fff;
  margin: 0 auto;
  position: relative;
}

.device-container:before, .device-container:after {
  position: absolute;
  content: '';
  border: solid #ccc;
}

.device-container:before {
  top: -12px;
  bottom: -12px;
  left: 0px;
  right: 0px;
  border-width: 0 1px;
}

.device-container:after {
  left: -12px;
  right: -12px;
  top: 0px;
  bottom: 0px;
  border-width: 1px 0;
}

.device-selector {
  background: rgba(0,0,0,.5);
  border-radius: 18px;
  color: #fff;
  font-size: 11.5px;
  overflow: hidden;
  position: fixed;
  right: 12px;
  bottom: 12px;
  z-index: 1000000;
}

.device-selector .nav-item {
  font-weight: bold;
  text-align: center;
  width: 72px;
}

.device-selector .nav-link {
  cursor: pointer;
}

.device-selector .nav-link.active {
  background: #E4C126;
  border-radius: 0;
}
